#wrapper {
	max-width: 68em;
	width:100%;
	margin: 0 auto;
	padding: 0 2em;
	opacity: 1;
	filter: none;
	-moz-transition:opacity 1s ease, -webkit-filter 1s ease;
	-webkit-transition: opacity 1s ease, -webkit-filter 1s ease;
	transition: opacity 1s ease, filter 1s ease;
}
body.is-loading #wrapper{
	opacity: 0;
	-moz-filter: blur(1px);
	-webkit-filter:blur(1px);
	-ms-filter:blur(1px);
	filter: blur(1px);
}
body.is-covered#wrapper{
	-moz-filter:blur(3px);
	-webkit-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}
/* header */
#header-wrapper
{
	background: #af1641;
}
#header
{
	position: relative;
	padding: 3em 0em;
}
/* Logo */
#logo
{
	position: absolute;
	top: 1em;
	left: 0;
}
#logo h1
{
	color: #fff;
}
#logo a
{
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
}
/* Menu */
#menu
{
	position: absolute;
	top: 2em;
	right: 0;
}
#menu ul
{
	display: inline-block;
}
#menu li
{
	display: block;
	float: left;
	text-align: center;
}
#menu li a,#menu li span
{
	padding: 1em 1.5em;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.8em;
	color: #fff;
}
#menu li:hover a, #menu li.active a, #menu li.active span
{
	background: #dc572e;
	border-radius: 7px;
	color: #FFF;
}
#menu .current_page_item a
{
	background: #af1641;
	color: #fff;
}
#menu.icon
{
}
/* Banner */
#banner
{
	overflow: hidden;
	padding: 7em 0em 5em 0em;
	background:#af1641;
	background-size:cover;
	text-align: center;
	color: rgba(255,255,255,.8);
}

#banner.title
{
	margin-bottom: 1em;
	text-transform: uppercase !important;
}
#banner .title h2
{
	color: #FFF;
}
#banner.title .byline
{
	color: rgba(255,255,255,.6);
}

#banner .button
{
	margin-top: 3em;
	background: #dc572e !important;
}
/* Page */
#page
{
	padding: 5em 0em;
	text-align: center;
}

#page .button
{
	margin-top: 2em;
	display: inline-block;
	text-align: center;
}
.container
{
	overflow: hidden;
	margin:0em auto;
	width: 1000px;
}
.title
{
	margin-bottom: 3em;
}

.title h2
	{
		text-transform: uppercase;
		font-size: 2.7em;
	}
	
	.title .byline
	{
		font-size: 1.7em;
		color: #6F6F6F;
	}

#copyright
{
	overflow: hidden;
	padding: 5em 0em;
	border-top: 1px solid rgba(255,255,255,0.08)
}

#copyright p
{
	text-align: center;
	font-size: 1em;
	color: rgba(255,255,255,0.5);
}

#copyright a
{
	text-decoration: none;
	color: rgba(255,255,255,0.8);
}